// File managed with puppet
// prime the server with knowledge of the root servers
zone "." {
	type hint;
	file "<%= @root_hint %>";
};

// be authoritative for the localhost forward and reverse zones, and for
// broadcast zones as per RFC 1912

<%- @rfc1912_zones.each do |zoneinfo| -%>
<%-   zoneinfo.each do |zonename, filename| -%>
zone "<%= zonename %>" {
	type master;
	file "<%= filename %>";
};

<%-   end # zoneinfo.each -%>
<%- end # @rfc1912_zones.each -%>
